/*reset*/
:root{}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general*/
.debug{
    border: 1px solid #ffff;
}
 
body{
    background-color: #F6F8F9;
    font-family: "Roboto", sans-serif;

}

.container{
    background-color: #ffff;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;

}

/*header*/
header{
    background-color: #ffff;
    padding: 15px 20px;
}
h1{
    display: inline;
    font-size: 3em;
    vertical-align: middle;
}
#logo img{
    vertical-align: middle;
}

/*main*/
main{
    padding: 20px 0;
}
.top{
    border-bottom: 5px solid;
}